<template>
  <div class="equipmentArray">
    <h1>Listing des équipements</h1>
    <div id="app">

      <table>
        <thead>
        <tr>
          <th>Nom</th>
          <th>Nom DNS</th>
          <th>Numero de Série</th>
          <th>Code hebergement</th>
          <th>Type d'équipement</th>
          <th>Marque</th>
          <th>Version du firmware</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for ="equipement in equipments" :key="equipement.id">
          <td>{{equipement.name}}</td>
          <td>{{equipement.dnsName}}</td>
          <td>{{equipement.serialNumber}}</td>
          <td>{{equipement.hostingCode}}</td>
          <td>{{equipement.type.name}}</td>
          <td>{{equipement.type.brand.name}}</td>
          <td>{{equipement.firmware.versionNumber}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
const axios = require('axios').default;

export default {
  data() {
    return {
      equipments: null
    }
  },
  mounted() {
    axios.get('http://localhost:8081/equipements')
        .then(response => (this.equipments = response.data))
  },

  name: 'EquipmentList'
}
</script>

