<template>
  <div class="firmwareArray">
    <router-link to="/firmwares/0">Créer Firmware</router-link>
    <h1>Listing des firmwares</h1>
    <div>
      <table>
        <thead>
        <tr>
          <th>Numero de Version</th>
        </tr>
        <tr>

        </tr>
        </thead>
        <tbody>
        <tr v-for="firmware in firmwares" :key="firmware.id">
          <td>{{ firmware.versionNumber }}</td>
          <td><button
              type="submit"
              @click="modifyFirmware(firmware.id)"
          >Modifier</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import {default as axios} from "axios";

export default {
  data() {
    return {
      firmwares: null
    }
  },
  mounted() {
    axios.get('http://localhost:8081/firmwares')
        .then(response => (this.firmwares = response.data))
  },
  methods: {
    modifyFirmware(id) {
      this.$router.push('/firmwares/' + id)
    }
  },
  name: "FirmwareList"
}
</script>

<style scoped>

</style>