<template>
  <form @submit.prevent="submitForm">
    <div class="form-control">
      <label for="version">Firmware Version </label>
      <input id="version" name="version" type="text" v-model="version"/>
    </div>
    <div>
      <button>Save Data</button>
    </div>
  </form>
</template>


<script>
import {default as axios} from "axios";

export default {
  data() {
    return {
      version: '',
      id: null
    }
  },
  methods: {
    submitForm() {
      //Si l'identifiant est 0, nous sommes en création
      if (this.id === "0"){
        let payload = { versionNumber : this.version };
        axios.post('http://localhost:8081/firmwares/', payload)
            .then( () => this.$router.push('/firmwares/'))
      }
      else {

        let payload = { versionNumber : this.version };
        axios.put('http://localhost:8081/firmwares/?id='+this.id, payload)
            .then( () => this.$router.push('/firmwares/'))
      }
    }

  },
  mounted() {
    this.id = this.$route.params.id;
    if (this.id !== "0") {
      axios.get('http://localhost:8081/firmwares/' + this.id)
          .then(response => (this.version = response.data.versionNumber));
    }
  },

  name: "firmwareDetail"
}

</script>