<template>
  <div class="home">

    <img alt="Ornisec logo" src="../assets/logo.png">
    <br/>
    Bienvenue dans Ornisec Control Center
  </div>
</template>

<script>

export default {
  name: 'HomeView',
  components: {}
}
</script>
